.packContainer {
    width: 100%;
    height: 100%;
    padding: 50px 60px;
    box-sizing: border-box;
    overflow-y: auto;
}

.packContainer .pack {
    position: relative;
    width: 100%;
    height: 136px;
    padding: 20px 20px;
    box-sizing: border-box;
    
    display: grid;
    grid-template-columns: 96px calc(100% - 96px);
}

.packContainer .pack:nth-child(2n) {
    background-color: rgba(255, 255, 255, 0.1);
}

.packContainer .pack .image {
    height: 96px;
    width: 96px;
    overflow: hidden;
}

.packContainer .pack .image img {
    max-height: 96px;
    height: auto;
    width: auto;
}

.packContainer .pack .details {
    width: 100%;
    padding: 0 16px;
}

.packContainer .pack .details .text {
    margin: 0;
}

.packContainer .pack .details .desc, .packContainer .pack .details .filename {
    font-weight: 100;
    font-size: 16px;
    margin: 5px 0;
}

.packContainer .pack .details .filename {
    color: rgba(255, 255, 255, 0.5);
}

.packContainer .pack .uninstall {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 125px;
    height: 100px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.packContainer .pack .uninstall .icon {
    width: 100%;
    height: 100%;
    color: white;
    transition: 0.2s ease;
}

.packContainer .pack .uninstall:hover .icon {
    color: rgb(199, 66, 66);
}