:root {
    --cat-size: 400px;
}

.search {
    display: grid;
    grid-template-columns: var(--cat-size) calc(100% - var(--cat-size));
    width: 100%;
    height: 100%;
}

.search > div {
    height: calc(100% - 50px);
    width: 100%;
}

.categories {
    background-color: rgba(88, 88, 88, 0.05);
    border-top-right-radius: 8px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    text-align: center;
    overflow-y: auto;
    padding-bottom: 15px;
}

.categories h3 {
    margin: 15px;
}

.category {
    position: relative;
    display: flex;
    justify-content: left;
    gap: 10px;
    padding: 15px 20px;
    text-align: center;
    cursor: pointer;

    transition: 0.2s ease;
}

.category .thumbnail {
    width: 25px;
    height: 25px;
}

.category .name {
    font-size: 18px;
    margin: 0;
    font-weight: lighter;
}

.category .sep {
    position: absolute;
    bottom: 0;
    width: 75%;
    left: 30%;
    -webkit-transform: translateX(-25%);
    transform: translateX(-25%);
    height: 1px;
    background-color: rgba(255, 255, 255, 0.05);
}

.category.selected {
    background-color: rgba(255, 255, 255, 0.06);
    padding: 15px 32px;
}

.category:not(.selected):hover {
    background-color: rgba(172, 172, 255, 0.05);
}

/* search bar */
.searchbar {
    width: 100%;
    height: 60px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: stretch;
    gap: 10px;
}

.searchbarItemSmall {
    flex-grow: 4;
    flex-basis: 90%;
}

.searchbarItemBig {
    flex-grow: 1;
}

.searchButton {
    padding: 5px;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.searchIcon {
    color: white;
    width: 100%;
    height: 100%;
}

.resourcePacks {
    height: calc(100% - 60px);
    overflow-y: auto;
}

.resourcePacks .pack {
    position: relative;
    width: 100%;
    height: 150px;
    padding: 20px 40px;
    box-sizing: border-box;
    background-color: rgba(255, 0, 0, 0.062);
    display: grid;
    grid-template-columns: 110px calc(100% - 110px);
    gap: 10px;
}

.resourcePacks .sep {
    left: 100px;
    right: 100px;
    background-color: rgba(255, 255, 255, 0.05);
    height: 1px;
    position: absolute;
    bottom: 0;
}

.resourcePacks .pack .preview {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.resourcePacks .pack .desc {
    height: 100%;
    width: 100%;
    position: relative;
}

.resourcePacks .pack .desc .title {
    width: 90%;
    display: flex;
    justify-content: left;
    font-size: 24px;
}

.resourcePacks .pack .desc .title h2 { 
    font-weight: lighter;
}

.resourcePacks .pack .desc .title .packAuthor {
    color: rgba(255, 255, 255, 0.1);
    margin-top: 16px;
}

.resourcePacks .pack .desc .packSummary {
    width: 90%;
    height: calc(100% - 24px - 20px); /* - fontsize - padding */
}

.resourcePacks .pack .desc .stats {
    position: absolute;
    left: 8px;
    bottom: -0;
    display: flex;
    justify-content: left;
}

.resourcePacks .pack .desc .stats .icon {
    width: 20px;
    height: 20px;
}

.resourcePacks .pack .desc .stats .packDownloads {
    margin: 0;
    font-weight: lighter;
}